MODEL_NAME=gemini-2.5-flash

CHROMA_DIR=chroma_db
COLLECTION_NAME=stock_documents
RAG_TOP_K=4

EMBEDDING_MODEL=models/embedding-001

MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=ai_stock_db
MONGO_DOC_COLLECTION=documents