# requirements.txt = list of all tools your project needs

# So anyone can run:
# pip install -r requirements.txt

# and get same setup as you

# Core AI libraries
fastapi
uvicorn
langchain
langchain-community
langchain-openai

# Vector database (updated version you used)
langchain-chroma
chromadb

# PDF processing
pypdf

# Tokenizer (used internally by LLMs)
tiktoken

# Environment variable management
python-dotenv
python-dotenv
pymongo